# Dependency directories
node_modules/

# Environment variable files
.env*

# VSCode workspace settings
.vscode/

# AWS
src/database/aws/models/

# Redis
appendonly.aof
node-6379.conf

# Images
images/